.fonte-especial {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.fonte-especial-escura {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(0, 0, 0);
}

.imagem-carrosel-1 {
    object-fit: cover;
    object-position: 0 63%;
    height: 350px;
}

.imagem-carrosel-2 {
    object-fit: cover;
    object-position: 0 40%;
    height: 350px;
}

.imagem-carrosel-3 {
    object-fit: cover;
    object-position: 0 20%;
    height: 350px;
}

.suspiromenu {
    margin-top: 6rem;
}

.suspiromenuprodutos {
    margin-top: 10rem;
}


.card-posicao-img {
    object-fit: cover;
    right: 200px;
}

#card-largura {
}

#bt-cor-especial {
    background-color: darkred;
    color: white;
}


#bt-cor-especial:hover {
    background-color: green;
    transition: 1s;
}
#text-navbar {
    color: black;
    font-size: 5rem;
}

.direitos {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.direitos:hover {
    color: red;
    transition: 2s;
}

.texto-rodape {
    font-size: 20px;
}

#body-fundo {
    background-image: linear-gradient(to right,#793FCD,#9148B3 , #EF6F45);
}

#color-fundo {
    background-color: white;
}

.logo {
    width: 7rem;
    position: relative;
}

.imagem-destaque {
    width: 30rem;
}

article {
    color: black;
}

#suspiro-top {
    margin-top: 10rem;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-size: 22px;
}