.fonte-especial {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.fonte-especial-logo {
    font-family: 'Sansita Swashed', cursive;
    font-size: 4rem;
    text-align: center;
    background-color: #f8f9fa;
}


.imagem-carrosel {
    object-fit: cover;
    object-position: 0 25%;
    height: 400px;
}

.suspiromenu {
    margin-top: 6rem;
}

.suspiromenuprodutos {
    margin-top: 10rem;
}


.card-posicao-img {
    object-fit: cover;
    right: 200px;
}

  
.card-largura {
    max-width: 10rem;
}

#bt-cor-especial {
    background-color: darkred;
    color: white;
}


#bt-cor-especial:hover {
    background-color: green;
    transition: 1s;
}
#text-navbar {
    color: black;
    font-size: 5rem;
}

.direitos {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.direitos:hover {
    color: red;
    transition: 2s;
}

.texto-rodape {
    font-size: 20px;
}

#body-fundo {
    background-image: linear-gradient(to right,#793FCD,#9148B3 , #EF6F45);
}

#color-fundo {
    background-color: white;
}

.logo {
    width: 10rem;
    position: relative;
}
